body {
   background: $main_bg;
   color: $text_color;
}

.header {
   background: $box_bg;
   border-bottom: $border;
   height: 68px;

   @media (max-width: 1138px) {
      height: 127px;
   }

   @media (max-width: 768px) {
      height: 68px;
   }
}

.container {
   margin: 0 auto;
   max-width: 1300px;
   padding-left: 1rem;
   padding-right: 1rem;

   @media (max-width:830px) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
   }
}

.menu {
   position: relative;
   text-align: right;
   float: right;


   &::after {
      content: "";
      bottom: -100%;
      right: 0;
      position: absolute;
      height: 68px;
      border: $border;

      @media (max-width: 1140px) {
         border: none;
      }

      @media (max-width: 768px) {
         border: $border;
         top: -50%;
      }

      @media (max-width: 476px) {
         border: none;
      }
   }

   @media (max-width: 1133px) {
      float: left;
   }

   @media (max-width: 768px) {
      margin-left: 40%;
      padding-right: 30px;
   }

   @media (max-width: 680px) {
      margin-left: 30%;
   }

   @media (max-width: 567px) {
      margin-left: 20%;
   }

   @media (max-width: 476px) {
      margin-left: 10%;
      padding-right: 0;
   }
}

.subtitle {
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   color: $subtitle_color;
   margin-bottom: 8px;
}

.btn {
   border-radius: 7px;
   padding: 8px 28px;
   font-size: 14px;
   line-height: 21px;
   cursor: pointer;
   border: $btn_border;
   background: inherit;
   color: $active_color;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;

   transition: all 0.4s linear;
   -webkit-transition: all 0.4s linear;
   -moz-transition: all 0.4s linear;
   -ms-transition: all 0.4s linear;
   -o-transition: all 0.4s linear;

}

.btn_active {
   color: #fff;
   background: $active_color;
   margin-right: 24px;
}

.title {
   text-align: center;
   color: #fff;
   margin-bottom: 24px;
}

.block {
   position: relative;
   background: $box_bg;
   border: $border;
   border-radius: 7px;
   padding: 40px 54px;


   &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 25%;
      width: 7px;
      height: 50%;
      background: $main_gradient;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
   }

   @media (max-width: 1233px) {
      padding: 40px 34px;
   }

   @media (max-width: 982px) {
      padding: 40px 54px;
   }

   @media (max-width: 600px) {
      padding: 40px 34px;
   }

   @media (max-width: 578px) {
      padding: 40px 54px;
   }

   @media (max-width: 460px) {
      padding: 40px 24px;
   }
}

.scroll {
   overflow-y: auto;
   max-height: 606px;
   scroll-snap-align: center;
   scrollbar-color: $active_color;

   &::-webkit-scrollbar {
      width: 8px;
      height: 100%;
      scroll-snap-align: center;
   }

   &::-webkit-scrollbar-track {
      border-radius: 7px;
      background-clip: content-box;
   }

   &::-webkit-scrollbar-thumb:vertical {
      border-radius: 7px;
      background: $scroll_bg;
   }
}

.copyright {
   font-size: 12px;
   line-height: 18px;
   color: $white_color;
   text-align: center;

   .text{
      color: $active_color;
   }
}

.footer{
   padding: 20px;
}