body {
   background: $main_bg;
   color: $text_color;
}

.header {
   background: $box_bg;
   border-bottom: $border;
   padding-bottom: 16px;
   padding-top: 16px;
}

.container {
   margin: 0 auto;
   max-width: 1340px;
   padding-left: 10px;
   padding-right: 10px;
}

