body {
   background: $main_bg;
   color: $text_color;
}

.header {
   background: $box_bg;
   border-bottom: $border;
   height: 68px;
}

.container {
   margin: 0 auto;
   max-width: 1340px;
   padding-left: 1rem;
   padding-right: 1rem;
}

.menu {
   position: relative;
   text-align: right;

   &::after {
      content: "";
      bottom: -100%;
      right: 0;
      position: absolute;
      height: 68px;
      border: $border;
   }
}



