.header_body {
   background: url("/img/avatar.svg") 90% 50% no-repeat;
   padding-top: 1.1rem;
   height: 68px;
}

.logo {
   float: left;
   margin-right: 40px;
   margin-bottom: 30px;
}

.menu_burger {
   display: none;
   width: 40px;
   height: 30px;
   cursor: pointer;
   background: $burger_gradient;
   transition: 0.4s linear;
   -webkit-transition: 0.4s linear;
   -moz-transition: 0.4s linear;
   -ms-transition: 0.4s linear;
   -o-transition: 0.4s linear;

   &-active {
      background: $burger_gradient-right,
         $burger_gradient-left;
   }

   @media (max-width: 768px) {
      display: inline-block;
   }
}

.menu_items {

   @media (max-width: 768px) {
      position: absolute;
      top: 50px;
      right: 0;
      width: 200px;
      display: none;
   }

   .menu_item {
      display: inline-block;

      @media (max-width: 864px) {
         background: none;
      }

      @media (max-width: 768px) {
         display: block;
      }
   }

   .item_Summary {
      background: url("/img/icons/icons.svg#summary");
      background-repeat: no-repeat;
      background-size: 24px;
   }

   .item_Hours {
      background-image: url("/img/icons/icons.svg#time-reports");
      background-repeat: no-repeat;
      background-size: 24px;
   }

   .item_Projects {
      background-image: url("/img/icons/icons.svg#projects");
      background-repeat: no-repeat;
      background-size: 24px;
   }

   .item_Time {
      background-image: url("/img/icons/icons.svg#hours");
      background-repeat: no-repeat;
      background-size: 24px;
   }

   .item_Confirm {
      background-image: url("/img/icons/icons.svg#confirmation");
      background-repeat: no-repeat;
      background-size: 24px;
   }

   .item_Mail {
      background-image: url("/img/icons/icons.svg#mailer");
      background-repeat: no-repeat;
      background-size: 24px;
   }

   .item_Compare {
      background-image: url("/img/icons/icons.svg#compare");
      background-repeat: no-repeat;
      background-size: 24px;
   }

}

.menu_link {
   padding: 27px 40px 27px 25px;
   transition: 0.4s linear;
   -webkit-transition: 0.4s linear;
   -moz-transition: 0.4s linear;
   -ms-transition: 0.4s linear;
   -o-transition: 0.4s linear;

   @media (max-width: 1250px) {
      padding: 27px 30px 27px 25px;
   }

   @media (max-width: 1130px) {
      padding: 20px 30px 20px 25px;
   }

   @media (max-width: 932px) {
      padding: 20px 20px 20px 25px;
   }

   @media (max-width: 864px) {
      padding: 20px 20px 20px 20px;
   }

   @media (max-width: 864px) {
      padding: 20px 15px 20px 15px;
   }

   @media (max-width: 768px) {
      padding: 15px;
      display: block;
   }
}

.menu_link:hover,
.menu_link-active {
   background: rgba(143, 127, 255, 0.15);
   color: $active_color;
   border-radius: 0px 0px 2px 2px;

   position: relative;

   &::after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: $main_gradient;
      border-radius: 0px 0px 2px 2px;

      @media (max-width: 768px) {
         width: 2px;
         height: 100%;
         left: 100%;
      }
   }

   @media (max-width: 768px) {
      background: rgba(143, 127, 255, 0.15);
      color: inherit;
   }
}