.table {
   margin-bottom: 100px;
   border-collapse: collapse;
}

.table_row {
   background: $table_head_bg;
   color: $table_head_color;
   border-radius: 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;
}

.table_column {
   background-image: url("/img/sort.svg"); 
   background-repeat: no-repeat;
   width: 12%;
   font-weight: 600;
   font-size: 12px;
   line-height: 17px;
}
