.table {
   margin-bottom: 100px;
   border-collapse: collapse;
   font-size: 14px;
   font-weight: normal;
   border-collapse: separate;
   border-spacing: 0 10px;
   display: block;
   position: relative;


   #tableData {
      .body_row {
         background: $box_bg;
         margin-right: 10px;
         border-radius: 7px !important;
         -webkit-border-radius: 7px !important;
         -moz-border-radius: 7px !important;
         -ms-border-radius: 7px !important;
         -o-border-radius: 7px !important;

         .body_column-first {
            color: $active_color;
            width: 200px;
            display: block;
            text-align: center;

            @media (max-width: 1115px) {
               width: 130px;
            }

            @media (max-width: 861px) {
               width: 90px;
            }
         }

         .body_column {
            padding: 10px 5px;

            +.extra {
               -webkit-background-clip: text;
               background-clip: text;
            }
         }

         &:nth-child(even) {
            background: $table_bg_dark;
         }
      }

   }
}

.table_row {
   background: $table_head_bg;
   color: $table_head_color;
   border-radius: 7px;
   height: 1rem;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;
}

.table_column {
   width: 12%;
   font-weight: 600;
   font-size: 12px;
   line-height: 17px;
   text-align: center;

   +.tyteOfWork {
      width: 15%;

      @media (max-width: 1115px) {
         width: 10%;
      }

      @media (max-width: 861px) {
         width: 7%;
      }
   }

   @media (max-width: 1115px) {
      width: 8%;
   }

      @media (max-width: 861px) {
         width: 6%;
      }
}

.bottom {
   background: #000;
   display: block;
}

.control {
   margin-top: 20px;
}

.select_small {
   width: 60px;
   margin-right: 10px;
}

.control_text {
   margin-right: 20px;
   margin-left: 20px;
}

.pagination {
   width: 122px;

   .active {
      background: $active_color;
      padding: 2px 5px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
   }
}

.pagination_item {
   margin-left: 5px;

   &:hover {
      background: $active_color;
      padding: 2px 5px;
      border-radius: 3px;
   }
}