.table {
   margin-bottom: 100px;
   border-collapse: collapse;
   font-size: 14px;
   font-weight: normal;
   border-collapse: separate;
   border-spacing: 0 10px;
   height: 798px;
   display: block;
   position: relative;


   #tableData {
      .body_row {
         background: $box_bg;
         margin-right: 10px;
         border-radius: 7px !important;
         -webkit-border-radius: 7px !important;
         -moz-border-radius: 7px !important;
         -ms-border-radius: 7px !important;
         -o-border-radius: 7px !important;

         .body_column-first {
            color: $active_color;
            width: 200px;
            display: block;
            text-align: center;
         }

         .body_column {
            padding: 10px 5px;

            +.extra {
               -webkit-background-clip: text;
               background-clip: text;
            }
         }

         &:nth-child(even) {
            background: $table_bg_dark;
         }
      }

   }
}

.table_row {
   background: $table_head_bg;
   color: $table_head_color;
   border-radius: 7px;
   height: 1rem;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;
}

.table_column {
   width: 12%;
   font-weight: 600;
   font-size: 12px;
   line-height: 17px;
   text-align: center;

   +.tyteOfWork {
      width: 15%;
   }
}