$main_bg: #171E28;
$box_bg: #242B35;
$text_color: #B6B4C6;
$title_color: #FFFFFF;
$subtitle_color: #C7BFFF;
$active_color: #8F7FFF;
$border: 1px solid #3D444E;
$active_link-bg: rgba(143, 127, 255, 0.15);