$main_bg: #171E28;
$box_bg: #242B35;
$text_color: #B6B4C6;
$title_color: #FFFFFF;
$subtitle_color: #C7BFFF;
$active_color: #8F7FFF;
$border: 1px solid #3D444E;
$active_link-bg: rgba(143, 127, 255, 0.15);
$main_gradient: linear-gradient(350.45deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);
$burger_gradient: linear-gradient(to bottom, #8F7FFF 20%, transparent 21%, transparent 40%, #8F7FFF 41%, #8F7FFF 60%, transparent 61%, transparent 80%, #8F7FFF 81%);
$burger_gradient-right: linear-gradient(45deg, transparent 45%, #BFBAFA 46%, #8F7FFF 55%, transparent 56%);
$burger_gradient-left: linear-gradient(-45deg, transparent 45%, #BFBAFA 46%, #8F7FFF 55%, transparent 56%);
$btn_border: 1px solid #8F7FFF;